
services:
  database:
    image: mysql:8
    container_name: ecommerce-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce_tcc
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./database/seed.sql:/docker-entrypoint-initdb.d/seed.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
      timeout: 5s
    restart: unless-stopped
    networks:
      - ecommerce-network

  backend:
    image: jgabrieldev/ecommerce-tcc-backend:1.3.0
    container_name: ecommerce-backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: database
      DB_USER: root
      DB_PASS: root
      DB_NAME: ecommerce_tcc
      DB_PORT: 3306
      JWT_SECRET: meusegredoseguro
      NODE_ENV: production
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - ecommerce-network

  seed:
    image: jgabrieldev/ecommerce-tcc-backend:1.3.0
    container_name: ecommerce-seed
    command: node seed/seed-admin.js
    environment:
      DB_HOST: database
      DB_USER: root
      DB_PASS: root
      DB_NAME: ecommerce_tcc
      DB_PORT: 3306
    depends_on:
      database:
        condition: service_healthy
    networks:
      - ecommerce-network

  frontend:
    image: jgabrieldev/ecommerce-tcc-frontend:1.3.0
    container_name: ecommerce-frontend
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_started
    restart: unless-stopped
    networks:
      - ecommerce-network

volumes:
  db_data:

networks:
  ecommerce-network:
    driver: bridge